# Database (Neon/PostgreSQL)
DATABASE_URL="postgresql://user:password@ep-xxx-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"

ORIGIN="http://localhost:5173"

NODE_ENV="development"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# GitHub OAuth (optional)
# GITHUB_CLIENT_ID=""
# GITHUB_CLIENT_SECRET=""

# Google OAuth (optional)
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""
